{% comment %}
  {%- for media in product.media -%}
    {%- unless media.id == featured_media.id -%}
      {%- if product.selected_or_first_available_variant.image.id == media.id
        or product.selected_or_first_available_variant.featured_media.id == media.id
      -%}
        <div data-media-id="{{ media.id }}" class="variantImage">
          {{ media | image_url: width: 1000 | image_tag: class: 'fitImage', loading: 'lazy', alt: media.alt }}
        </div>
      {%- else -%}
        <div data-media-id="{{ media.id }}" class="variantImage">
          {{ media | image_url: width: 1000 | image_tag: class: 'fitImage', loading: 'lazy', alt: media.alt }}
        </div>
      {%- endif -%}
    {%- endunless -%}
  {%- endfor -%}
{% endcomment %}
<div class="product-image-container">
  {%- for media in product.media -%}
    {%- unless media.id == featured_media.id -%}
      {%- if product.selected_or_first_available_variant.image.id == media.id
        or product.selected_or_first_available_variant.featured_media.id == media.id
      -%}
        <div data-media-id="{{ media.id }}" class="variant-image">
          {{ media | image_url: width: 1000 | image_tag: class: 'fit-image', loading: 'lazy', alt: media.alt }}
        </div>
      {%- else -%}
        <div data-media-id="{{ media.id }}" class="variant-image">
          {{ media | image_url: width: 1000 | image_tag: class: 'fit-image', loading: 'lazy', alt: media.alt }}
        </div>
      {%- endif -%}
    {%- endunless -%}
  {%- endfor -%}
</div>
{% comment %}
  <div class="desktop-gallery">
    {%- for media in product.media -%}
      {%- unless media.id == featured_media.id -%}
        {%- if product.selected_or_first_available_variant.image.id == media.id
          or product.selected_or_first_available_variant.featured_media.id == media.id
        -%}
          <div data-media-id="{{ media.id }}" class="variantImage">
            {{ media | image_url: width: 1000 | image_tag: class: 'fitImage', loading: 'lazy', alt: media.alt }}
          </div>
        {%- else -%}
          <div data-media-id="{{ media.id }}" class="variantImage">
            {{ media | image_url: width: 1000 | image_tag: class: 'fitImage', loading: 'lazy', alt: media.alt }}
          </div>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
  </div>
{% endcomment %}

<div class="mobile-gallery swiper-container">
  <div class="swiper-wrapper">
    {%- for media in product.media -%}
      {%- unless media.id == featured_media.id -%}
        {%- if product.selected_or_first_available_variant.image.id == media.id
          or product.selected_or_first_available_variant.featured_media.id == media.id
        -%}
          <div data-media-id="{{ media.id }}" class="variant-image">
            {{ media | image_url: width: 1000 | image_tag: class: 'fit-image-mobile', loading: 'lazy', alt: media.alt }}
          </div>
        {%- else -%}
          <div data-media-id="{{ media.id }}" class="variant-image">
            {{ media | image_url: width: 1000 | image_tag: class: 'fit-image-mobile', loading: 'lazy', alt: media.alt }}
          </div>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const mobileGallery = document.querySelector('.mobile-gallery');

    if (mobileGallery) {
      const swiper = new Swiper('.mobile-gallery', {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      });
    }
  });
</script>
