{{ 'component-header.css' | asset_url | stylesheet_tag }}

<div class="navigationContainer">
  <button class="headerHamburger">
    <span class="headerHamburgerBar"></span>
    <span class="headerHamburgerBar"></span>
    <span class="headerHamburgerBar"></span>
  </button>

  <div class="headerNav">
    <div class="logoContainer logoMobileNav">
      <a href="/"><p class="logo">L A E L</p></a>
    </div>
    {% for link in section.settings.navigation.links %}
      <span class="headerNavItem">
        <a class="headerNavAnchor" href="{{ link.url }}">
          {{ link.title }}
        </a>

        {% if link.links != blank %}
          <span class="headerSub">
            {% for child in link.links %}
              <span class="headerSubItem">
                <a class="headerSubAnchor" href="{{ child.url }}">
                  {{ child.title }}
                </a>
              </span>
            {% endfor %}
          </span>
        {% endif %}
      </span>
    {% endfor %}
  </div>
  
  <div class="logoContainer">
    <a href="/"><p class="logo">L A E L</p></a>
  </div>
  <div class="cartContainer">
    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
        >
          {%- if section.settings.enable_customer_avatar -%}
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                {% render 'icon-account' %}
              {%- endif -%}
            </account-icon>
          {%- else -%}
            {% render 'icon-account' %}
          {%- endif -%}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
      </a>
    </div>
  </div>
</div>

<div class="headerOverlay"></div>

<script>
  document.querySelector('.headerHamburger').addEventListener('click', () => {
    document.querySelector('.newHeader').classList.toggle('nav-active');
  });

  document.querySelector('.headerOverlay').addEventListener('click', () => {
    document.querySelector('.newHeader').classList.remove('nav-active');
  });
</script>

{% schema %}
{
  "name": "NewHeader",
  "tag": "header",
  "class": "newHeader",
  "settings": [
    {
      "type": "link_list",
      "id": "navigation",
      "label": "Navigation Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
