{{ 'component-header.css' | asset_url | stylesheet_tag }}

<div class="navigationContainer">
  <div class="logoContainer">
    <a href="/">
      <img
        src="https://cdn.shopify.com/s/files/1/0693/3122/2685/files/Informal_Studio_Logos.png?v=1732058099"
        width="65"
        height="54"
      >
    </a>
  </div>

  <button class="headerHamburger">
    <span class="headerHamburgerBar"></span>
    <span class="headerHamburgerBar"></span>
    <span class="headerHamburgerBar"></span>
  </button>

  <div class="headerNav">
    <div class="logoContainer logoMobileNav">
      <a href="/">
        <img
          src="https://cdn.shopify.com/s/files/1/0693/3122/2685/files/Informal_Studio_Logos.png?v=1732058099"
          width="25"
          height="21"
        >
      </a>
    </div>
    {% for link in section.settings.navigation.links %}
      <span class="headerNavItem">
        <a class="headerNavAnchor" href="{{ link.url }}">
          {{ link.title }}
        </a>

        {% if link.links != blank %}
          <span class="headerSub">
            {% for child in link.links %}
              <span class="headerSubItem">
                <a class="headerSubAnchor" href="{{ child.url }}">
                  {{ child.title }}
                </a>
              </span>
            {% endfor %}
          </span>
        {% endif %}
      </span>
    {% endfor %}
  </div>
</div>

<div class="headerOverlay">X</div>

<script>
  document.querySelector('.headerHamburger').addEventListener('click', () => {
    document.querySelector('.newHeader').classList.toggle('nav-active');
  });

  document.querySelector('.headerOverlay').addEventListener('click', () => {
    document.querySelector('.newHeader').classList.remove('nav-active');
  });
</script>

{% schema %}
{
  "name": "NewHeader",
  "tag": "header",
  "class": "newHeader",
  "settings": [
    {
      "type": "link_list",
      "id": "navigation",
      "label": "Navigation Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
