{{ 'collection-custom-sections.css' | asset_url | stylesheet_tag }}
{{ 'projects-interviews-writings.css' | asset_url | stylesheet_tag }}

{% if collection.handle == 'all' %}
  <p>turn back</p>
{% endif %}

{% if collection.handle == 'shop' %}
  <div class="collection-container shop-container">
    {% for product in collections.shop.products %}
      <a href="{{ product.url }}" target="_self">
        <div class="products-container">
          {% assign image = product.media | first %}
          <div class="product-image-div">
            <img class="product-image" src="{{ image.src | image_url }}" width="280" height="auto">
          </div>
          <div class="shop-product-title-div">
            <p class="shop-product-title">
              {{ product.title }}
            </p>
          </div>
          <div class="product-price-div">
            <p class="product-price">
              {{ product.price | money }}
            </p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endif %}

{% if collection.handle == 'projects' %}
  <div class="collection-container projects-container">
    <div class="index-container">
      <p>Index</p>
      {% for product in collections.projects.products %}
        <div class="product-title-div">
          <a href="{{ product.url }}" target="_self">
            <p class="product-title">
              {{ product.title }}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>
    {% for product in collections.projects.products %}
      {% if product.metafields.custom.media_block_1 %}
        <div class="article-image">
          <a href="{{ product.url }}" target="_self">
            {{ product.metafields.custom.media_block_1 | metafield_tag }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if collection.handle == 'writings' %}
  <div class="collection-container writings-container">
    <div class="index-container">
      <p>Index</p>
      {% for product in collections.writings.products %}
        <div class="product-title-div">
          <a href="{{ product.url }}" target="_self">
            <p class="product-title">
              {{ product.title }}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>
    {% for product in collections.writings.products %}
      {% if product.metafields.custom.media_block_1 %}
        <div class="article-image">
          <a href="{{ product.url }}" target="_self">
            {{ product.metafields.custom.media_block_1 | metafield_tag }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if collection.handle == 'interviews' %}
  <div class="collection-container interview-container">
    <div class="index-container">
      <p>Index</p>
      {% for product in collections.interviews.products %}
        <div class="product-title-div">
          <a href="{{ product.url }}" target="_self">
            <p class="product-title {% if template == 'product' and product.handle == product.handle %}current-product{% endif %}">
              {{ product.title }}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>
    {% for product in collections.interviews.products %}
      {% if product.metafields.custom.media_block_1 %}
        <div class="article-image">
          <a href="{{ product.url }}" target="_self">
            {{ product.metafields.custom.media_block_1 | metafield_tag }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
