<product-info
  id="MainProduct-{{ section.id }}"
  class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}"
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="true"
  data-url="{{ product.url }}"
>
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
  {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

  {% unless product.has_only_default_variant %}
    {{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}
    {{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
    {{ 'component-swatch.css' | asset_url | stylesheet_tag }}
  {% endunless %}
  {%- if product.quantity_price_breaks_configured? -%}
    {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  {% comment %}
    {%- style -%}
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
      }

      @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
        }
      }
    {%- endstyle -%}
  {% endcomment %}

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- if product.quantity_price_breaks_configured? -%}
    <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% if section.settings.image_zoom == 'hover' %}
    <script id="EnableZoomOnHover-main" src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>
  {% endif %}
  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
  {%- if first_3d_model -%}
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link
      id="ModelViewerStyle"
      rel="stylesheet"
      href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
      media="print"
      onload="this.media='all'"
    >
    <link
      id="ModelViewerOverride"
      rel="stylesheet"
      href="{{ 'component-model-viewer-ui.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
  {%- endif -%}

  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
  <div class="productPageGrid">
    <div class="productPageImagesContainer">
      {% comment %} {% render 'product-media-gallery', variant_images: variant_images %} {% endcomment %}
      <div class="mainProductImage"></div>
      <div class="otherProductImage"></div>
    </div>
    <div class="productPageDetailsContainer">
      {% comment %} {%  render breadcrumb nav %} {% endcomment %}
      <div class="titleContainer">
        <p>{{ product.title }}</p>
      </div>
      <div class="variantsContainer">
        <p class="productPrice">{{ product.price | money_without_trailing_zeros }}</p>
        <p>{{ product.variants }}</p>
      </div>
      <div class="descriptionContainer">
        <p>{{ product.description }}</p>
      </div>
      <div class="informationList">
        <div class="informationContainer">
          <div class="informationTitle">FIT & SIZE</div>
          <div class="informationText">REM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING</div>
        </div>
        <div class="informationContainer">
          <div class="informationTitle">COMPOSITION</div>
          <div class="informationText">100% COTTON</div>
        </div>
        <div class="informationContainer">
          <div class="informationTitle">MADE IN</div>
          <div class="informationText">UNITED KINGDOM, DESIGNED IN AUSTRALIA</div>
        </div>
        <div class="informationContainer">
          <div class="informationTitle">SHIPPING</div>
          <div class="informationText">
            SHIPPING WORLDWIDE, SPEND OVER CERTAIN AMOUTN AND GET FREE SHIPPING AUSTRALIA WIDE
          </div>
        </div>
      </div>
    </div>
  </div>
</product-info>
