{{ 'collection-custom-sections.css' | asset_url | stylesheet_tag }}
{{ 'projects-interviews-writings.css' | asset_url | stylesheet_tag }}

{% if collection.handle == 'all' %}
  <p>turn back</p>
{% endif %}

{% if collection.handle == 'shop' %}
  <div class="shop-page-container">
    <div class="index-container">
      <p>Shop</p>
      {% for indexed_product in collections.shop.products %}
        <div class="product-title-div">
          <a href="{{ indexed_product.url }}" target="_self">
            <p class="product-title {% if template == 'product' and product.handle == indexed_product.handle %}current-product{% endif %}">
              {{ indexed_product.title }}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="collection-container shop-container">
      {% for product in collections.shop.products %}
        <a href="{{ product.url }}" target="_self">
          <div class="products-container">
            {% assign image = product.media | first %}
            <div class="product-image-div">
              <img class="product-image" src="{{ image.src | image_url }}" width="900" height="auto">
            </div>
            <div class="shop-product-title-div">
              <p class="shop-product-title">
                {{ product.title }}
              </p>
            </div>
            <div class="product-price-div">
              <p class="product-price">
                {{ product.price | money }}
              </p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if collection.handle == 'projects' %}
  <div class="collection-container projects-container">
    <div class="index-container">
      <p>Index</p>
      {% for product in collections.projects.products %}
        <div class="product-title-div">
          <a href="{{ product.url }}" target="_self">
            <p class="product-title">
              {{ product.title }}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="article-container">
      {% for product in collections.projects.products %}
        {% assign first_media = null %}
        {% for i in (1..6) %}
          {% assign media_block_key = 'media_block_' | append: i %}
          {% if product.metafields.custom[media_block_key] and first_media == null %}
            {% assign first_media = product.metafields.custom[media_block_key] %}
          {% endif %}
        {% endfor %}

        {% if first_media %}
          <div class="article-image">
            <a href="{{ product.url }}" target="_self">
              {{ first_media | metafield_tag }}
            </a>
            <p>{{ product.title }}</p>
          </div>
        {% endif %}
        <div class="mobile-list">
          <a href="{{ product.url }}" target="_self">
            <p>{{ product.title }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if collection.handle == 'writings' %}
  <div class="collection-container writings-container">
    <div class="index-container">
      <p>Index</p>
      {% for product in collections.writings.products %}
        <div class="product-title-div">
          <a href="{{ product.url }}" target="_self">
            <p class="product-title">
              {{ product.title }}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="article-container">
      {% for product in collections.writings.products %}
        {% assign first_media = null %}
        {% for i in (1..6) %}
          {% assign media_block_key = 'media_block_' | append: i %}
          {% if product.metafields.custom[media_block_key] and first_media == null %}
            {% assign first_media = product.metafields.custom[media_block_key] %}
          {% endif %}
        {% endfor %}

        {% if first_media %}
          <div class="article-image">
            <a href="{{ product.url }}" target="_self">
              {{ first_media | metafield_tag }}
            </a>
            <p>{{ product.title }}</p>
          </div>
        {% endif %}
        <div class="mobile-list">
          <a href="{{ product.url }}" target="_self">
            <p>{{ product.title }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if collection.handle == 'interviews' %}
  <div class="collection-container interview-container">
    <div class="index-container">
      <p>Index</p>
      {% for product in collections.interviews.products %}
        <div class="product-title-div">
          <a href="{{ product.url }}" target="_self">
            <p class="product-title {% if template == 'product' and product.handle == product.handle %}current-product{% endif %}">
              {{ product.title }}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="article-container">
      {% for product in collections.interviews.products %}
        {% assign first_media = null %}
        {% for i in (1..6) %}
          {% assign media_block_key = 'media_block_' | append: i %}
          {% if product.metafields.custom[media_block_key] and first_media == null %}
            {% assign first_media = product.metafields.custom[media_block_key] %}
          {% endif %}
        {% endfor %}

        {% if first_media %}
          <div class="article-image">
            <a href="{{ product.url }}" target="_self">
              {{ first_media | metafield_tag }}
            </a>
            <p>{{ product.title }}</p>
          </div>
        {% endif %}
        <div class="mobile-list">
          <a href="{{ product.url }}" target="_self">
            <p>{{ product.title }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
